.row
  .span11
    %h2.user-title
      = image_tag(@user.profile_image_url, :size => "48x48")
      高専カンファレンスと
      = @user.name

    #events
      - relations = @user.relations
      - attendees = relations.attendee
      - staffs    = relations.staff
      - speakers  = relations.speaker
      - watchers  = relations.watcher

      - unless staffs.empty?
        %h3.staff
          運営した開催
        = render :partial => "events/basic", :as => :event, :collection => staffs.map(&:event).sort_by(&:date)
      - unless speakers.empty?
        %h3.speaker
          発表した開催
        = render :partial => "events/basic", :as => :event, :collection => speakers.map(&:event).sort_by(&:date)
      - unless attendees.empty?
        %h3.attendee
          参加した開催
        = render :partial => "events/basic", :as => :event, :collection => attendees.map(&:event).sort_by(&:date)
      - unless watchers.empty?
        %h3.watcher
          オンライン参加した開催
        = render :partial => "events/basic", :as => :event, :collection => watchers.map(&:event).sort_by(&:date)

  .span5
    .tweet
      このページを
      :plain
        <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-via="kosenconf">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
      する

    .counter
      .icon
        = image_tag("icons/staff.png", :size => "48x48")
      .count
        = staffs.count
    .counter
      .icon
        = image_tag("icons/speaker.png", :size => "48x48")
      .count
        = speakers.count
    .counter
      .icon
        = image_tag("icons/attendee.png", :size => "48x48")
      .count
        = attendees.count
    .counter
      .icon
        = image_tag("icons/watcher.png", :size => "48x48")
      .count
        = watchers.count
