.row
  .span11
    #events
      %h2 高専カンファレンスの開催一覧

      .summary
        = "全 #{@events.size} 開催、総参加者数約 #{@events.sum(:turnout)} 人"

      - if signed_in?
        .link-box
          = link_to "新たに開催情報を追加する", new_event_path

      = render :partial => "events/basic", :as => :event, :collection => @events

  .span5
    #about
      %h2 このサイトは？

      .outline
        %p
          = link_to "KCdata", root_path
          は、高専カンファレンスに関するデータを集約するアプリケーションです。
        %p
          Twitter のアカウントでサインインすると、自分が「参加した」「運営した」「発表した」「視聴した」といった情報を登録して整理することができます。
        %p
          どうぞご利用ください！(無料です)

    #users
      %h2 ユーザ
      = render :partial => "users/cube", :as => :user, :collection => @users
