.event
  .serial
    = link_to event.serial, event
  %h3
    = link_to event.name, event
  .date
    開催 :
    = event.date.to_s(:basic)
  .place
    = "#{event.place} (#{event.address})"
  - if event.turnout && event.turnout > 0
    .turnout
      = "参加者数 約#{event.turnout}人"
  .people
    - event.users.each do |user|
      = link_to image_tag(user.profile_image_url, :size => "24x24"), user
