%h1 高専カンファレンス 開催リスト

%div
  = "全 #{@events.size} 開催、総参加者数 #{@events.sum(:turnout)} 人"

%table
  %tr
    %th
    %th 開催名
    %th 参加者数
    %th 会場
    %th 開催日

  - @events.each do |event|
    %tr
      %td= event.serial
      %td= link_to event.name, event
      %td.turnout
        - if event.turnout && event.turnout > 0
          = event.turnout
      %td= event.place
      %td= event.date.to_s(:basic)

%br

- if signed_in?
  %div
    = link_to 'Add New Event', new_event_path

#chart

%script{ :type => "text/javascript", :src => "https://www.google.com/jsapi"}
:javascript
  var events = #{@events_for_graph.to_json};
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(draw);
  function draw() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Serial');
    data.addColumn('number', '参加者数');
    data.addRows(events.length);

    for (var i = 0; i < events.length; i++) {
      var event = events[i];
      data.setValue(i, 0, event.serial);
      data.setValue(i, 1, event.turnout);
    }

    var chart = new google.visualization.BarChart(document.getElementById("chart"));
    chart.draw(data, {width: 800, height: #{@events_for_graph.size * 35}, title: ""});
  }
