%p#notice= notice

%h2= @event.name

%p= "kosenconf-" + @event.serial

%p= "開催概要 : #{@event.description}"

%p= "公式ページ : #{@event.url}"

%p= "開催日 : #{@event.date}"

%p= "会場 : #{@event.place} (#{@event.address})"

%p= "参加者数 : #{@event.turnout}人"

%p
  はてなブックマーク タグ
  = link_to "kosenconf-#{@event.serial}", "http://b.hatena.ne.jp/t/kosenconf-#{@event.serial}?sort=eid"
  を含む新着エントリー

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
