.row
  .span11
    .event
      %h2= @event.name
      .basic-info
        = "kosenconf-" + @event.serial
        - if @event.url.present?
          = link_to "公式ページ", @event.url, :target => "_blank"

      - if @event.description.present?
        .description
          = "開催概要 : #{@event.description}"

      .date
        = "開催日 : #{@event.date.to_s(:basic)}"

      .place
        = "会場 : #{@event.place} (#{@event.address})"

      - if @event.turnout && @event.turnout > 0
        .turnout
          = "参加者数 : 約#{@event.turnout}人"

      - if signed_in?
        .link-box
          = link_to "この開催の情報を編集する", edit_event_path(@event)

    %h3 関連情報
    %ul
      %li
        はてなブックマーク タグ
        = link_to "kosenconf-#{@event.serial}", "http://b.hatena.ne.jp/t/kosenconf-#{@event.serial}?sort=eid", :target => "_blank"
        を含む新着エントリー

    - relations = @event.relations
    - attendees = relations.attendee
    - staffs    = relations.staff
    - speakers  = relations.speaker
    - watchers  = relations.watcher

    - unless staffs.empty?
      %h3 スタッフ
      = render :partial => "users/cube", :as => :user, :collection => staffs.map(&:user)
    - unless speakers.empty?
      %h3 発表者
      = render :partial => "users/cube", :as => :user, :collection => speakers.map(&:user)
    - unless attendees.empty?
      %h3 参加者
      = render :partial => "users/cube", :as => :user, :collection => attendees.map(&:user)
    - unless watchers.empty?
      %h3 オンライン参加者
      = render :partial => "users/cube", :as => :user, :collection => watchers.map(&:user)

  .span5
    - if signed_in?
      = render :partial => "relations/form", :as => :relation, :object => @relation
