.row
  .span12
    .event
      %h2= @event.name
      .basic-info
        = "kosenconf-" + @event.serial
        - if @event.url.present?
          = link_to "公式ページ", @event.url, :target => "_blank"

      - if @event.description.present?
        .description
          = "開催概要 : #{@event.description}"

      .date
        = "開催日 : #{@event.date}"

      .place
        = "会場 : #{@event.place} (#{@event.address})"

      - if @event.turnout > 0
        .turnout
          = "参加者数 : 約#{@event.turnout}人"

      .link-box
        = link_to "この開催の情報を編集する", edit_event_path(@event)

    %h3 関連情報
    %ul
      %li
        はてなブックマーク タグ
        = link_to "kosenconf-#{@event.serial}", "http://b.hatena.ne.jp/t/kosenconf-#{@event.serial}?sort=eid", :target => "_blank"
        を含む新着エントリー
