!!! 5
%html
  %head
    %title
      = [@title, "KCdata", "#kosenconf"].compact.join(" - ")
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .topbar
      .topbar-inner
        .container
          = link_to "KCdata", root_path, :class => "brand"
          %ul.nav.secondary-nav
            - if signed_in?
              %li
                = link_to image_tag(current_user.profile_image_url, :size => "24x24"), current_user, :style => "padding: 8px 0 0;"
              %li
                = link_to current_user.name, current_user
              %li
                = link_to "Sign out", sign_out_path, :method => :delete
            - else
              %li
                = link_to "Sign in with Twitter", "/auth/twitter"

    #main
      .container
        - if notice
          #notice.alert-message.info= notice
        = yield

    %footer.footer
      .container
        %p
          Source code is on
          = link_to "GitHub", "https://github.com/kosenconf/kcdata"
        %p
          With a lot of respects for
          = link_to "Kosen Conference", "http://kosenconf.jp"
          developed by
          = link_to "@falcon_8823", "http://twitter.com/falcon_8823"
          and
          = link_to "@june29", "http://twitter.com/june29"
          icons by
          = link_to "@itoukaito", "http://twitter.com/itoukaito"
